@font-face {
  font-family: "iconfont"; /* Project id 2628117 */
  src: url('//at.alicdn.com/t/font_2628117_qxzvf90o7s.woff2?t=1624775406089') format('woff2'),
       url('//at.alicdn.com/t/font_2628117_qxzvf90o7s.woff?t=1624775406089') format('woff'),
       url('//at.alicdn.com/t/font_2628117_qxzvf90o7s.ttf?t=1624775406089') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shu:before {
  content: "\e60d";
}

.icon-yijianfankui:before {
  content: "\e606";
}

.icon-liulanjilu:before {
  content: "\e607";
}

.icon-yuedupianhao:before {
  content: "\e608";
}

.icon-guanyuwomen:before {
  content: "\e609";
}

.icon-fenxiang:before {
  content: "\e60a";
}

.icon-changjianwenti:before {
  content: "\e60b";
}

.icon-zuo:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-wode:before {
  content: "\e603";
}

.icon-faxian:before {
  content: "\e604";
}

.icon-shucheng:before {
  content: "\e601";
}

.icon-shujia:before {
  content: "\e602";
}
