// 颜色变量
@colorBg: #f7f8fa;
@colorPrimary: #12ab76;
@colorBgPrimary: rgba(18, 171, 118, 0.1);
@color000: #000;
@color333: #333;
@color999: #999;
@colorccc: #ccc;
@colorfff: #fff;

// 字体大小变量
@fs18: 18px;
@fs16: 16px;
@fs14: 14px;
@fs12: 12px;
@fs10: 10px;

// 尺寸大小变量
@s40: 40px;
@s36: 32px;
@s24: 24px;
@s16: 16px;
@s12: 12px;
@s6: 6px;

// 页面一级标题
.pagetitle1() {
	font-size: @fs18;
	font-weight: 600;
	color: @colorfff  !important;
}

// 页面二级标题
.pagetitle2() {
	font-size: @fs16;
	font-weight: 600;
	color: @color000  !important;
}

// 正常的字体大小 14
.basefont(@color: #000, @fw: 600) {
	font-size: @fs14;
	font-weight: @fw;
	color: @color;
}

// 稍小一点的字体大小 12
.smallfont(@color: #000, @fw: 100) {
	font-size: @fs12;
	font-weight: @fw;
	color: @color;
}

// 更小一点的字体 10
.minifont(@color: #000, @fw: 100) {
	font-size: @fs10;
	font-weight: @fw;
	color: @color;
}

// 单行省略号
.ell1() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

// 多行省略号，默认为2行
.ell2(@num: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: @num;
	-webkit-box-orient: vertical;
	flex-direction: column;
}

.marginb6() {
	margin-bottom: @s6;
}