// 颜色变量
@coloorBg: #f7f8fa;
@colorPrimary: #12ab76;
@color000: #000;
@color333: #333;
@color999: #999;
@colorccc: #ccc;
@colorfff: #fff;

// 字体大小变量
@fs18: 18px;
@fs16: 16px;
@fs14: 14px;
@fs12: 12px;
@fs10: 10px;

// 尺寸大小变量
@s40: 40px;
@s36: 32px;
@s24: 24px;
@s16: 16px;
@s12: 12px;
@s6: 6px;
